
//Page one/section1
.section1 {

    .header {
        background-color: #000;
        height: 50px;
        margin-bottom: 20px;
    }

    .boxes,
    .boxes2 {
        justify-content: center;

        .box1 {
            width: 28%;
            background-color: #d3d3d3;
            height: 240px;
            margin: 0 15px;
            border-radius: 8px;
        }
    }

    .boxes2 {
        margin-top: 30px;
    }

    .footer {
        border-radius: 8px;
        margin-top: 100px;
        height: 50px;
        background-color: #dda0dd;
    }
}

//Page two/section2
.section2 {
    margin: 200px 0;

    .header {
        background-color: #d3d3d3;
        height: 500px;


        .title {
            text-align: center;
            font-weight: bolder;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            h1 {
                margin-top: 200px;
                font-size: 80px;

            }

            p {
                font-size: 50px;
                margin-top: -10px;
            }
        }
    }

    nav {
        margin: 35px 0;

        ul {
            display: flex;

            li {
                list-style: none;
                margin: auto;

                a {
                    text-decoration: none;
                    color: #000;
                    font-size: 22px;
                    font-weight: 600;

                }
            }
        }
    }

    .boxes {
        .box1 {
            border: 2px solid #d3d3d3;
            padding: 40px 80px;
            width: auto;
            font-weight: bolder;
            margin-bottom: 50px;

            h1 {
                font-size: 38px;
            }

            h3 {
                font-size: 25px;
            }

            ul {
                li {
                    font-size: 20px;
                }
            }
        }
    }
}

// Page three/section3
.section3 {

    nav {
        border-bottom: 1.5px solid #959595;

        ul {
            display: flex;
            justify-content: center;

            li {
                margin: 0 50px;
                list-style: none;

                a {
                    text-decoration: none;
                    color: #000;
                    font-size: 20px;
                    font-weight: bolder;
                    text-transform: uppercase;
                }
            }
        }
    }

    .products {
        margin-top: 150px;

        .stock {
            margin-top: 20px;
            width: 20% !important;

            p {
                font-size: 15px;
                font-weight: bolder;
                margin: 5px 0;

                span {
                    color: #a9a7a7;
                }
            }
        }

        .boxes {
            flex-wrap: wrap;

            .box1 {
                margin: 0 2px;

                .image {
                    height: 300px;
                    border: 1px solid #a9a7a7;

                    img {
                        margin-top: 50px;
                        width: 100%;
                    }
                }

                .text {
                    p {
                        margin-left: 10px;
                        font-size: 20px;
                        font-weight: bolder;

                        span.span2 {
                            margin-left: 120px;
                        }
                    }
                    ul{
                        margin-left: 10px;
                        margin-top: -10px;
                        padding: 0;
                        li{
                            list-style: none;
                            margin-bottom: 10px;
                            color: #a9a7a7;
                            font-weight: 900px;
                            font-size: 17px;
                        }
                    }
                }
            }
        }

    }

}



//library
.col-lg-12 {
    width: 100%;
}
.col-lg-9 {
    width: 75%;
}
.col-lg-4 {
    width: 32%;
}
.col-lg-3 {
    width: 25%;
}
.d-flex {
    display: flex;
}
.container {
    width: 95%;
}
h2 {
    text-align: center;
    font-size: 50px;
    color: #410b27;

}